@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scroll bar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    scroll-behavior: smooth;
    color: #fff;
    background: rgba(14, 17, 21, 1);
}

.textTransparent {
    -webkit-text-fill-color: transparent;
}

.header-container {
    height: calc(100vh - 10rem);
    min-height: 800px;
}

.banner-job-radius {
    border-radius: calc(100% - 1px);
}
.banner-job {
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    
}

.header-bg {
    clip-path: url(#my-clip-path);
}