@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scroll bar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100vw;
    color: #fff;
    background: rgba(14, 17, 21, 1);
}

.corner {
    left : calc(100% - 60vw);
    top : calc(100% - 50vh);
}

.textTransparent {
    -webkit-text-fill-color: transparent;
}
.clip-path-background {
    clip-path: url('#'); /* Reference the ID from the SVG */
    /* Optional background styling (e.g., color, gradient) */
  }

.banner-job-radius {
    border-radius: calc(100% - 1px);
}
.banner-job {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    
}

.header-bg {
    clip-path: url(#my-clip-path);
}

.ul-max-h {
    max-height: calc(100% - 40px);
    overflow-y: auto;
    /* hide scrollbar */
    scrollbar-width: none;
}

.banner-small {
    clip-path: url(#my-clip-small);
}

.icon-hover:hover {
    filter: drop-shadow(0 0 0.75rem #fff);
}

.input-size {
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
}

.tool-size {
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
}

.get-in-size {
    font-size: clamp(0.1rem, 5vw, 1.5rem);
}

.banner-size {
    font-size: clamp(1.5rem, 9vw, 4.5rem);
}