@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    color: #fff;
    background: rgba(14, 17, 21, 1);
}

.textTransparent {
    -webkit-text-fill-color: transparent;
}

.header-container {
    height: calc(100vh - 10rem);
    min-height: 800px;
}

.banner-job-radius {
    border-radius: calc(100% - 1px);
}
.banner-job {
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    
}

.header-bg {
    clip-path: url(#my-clip-path);
}